[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
dash = "*"
dash-bootstrap-components = "*"
pandas = "*"
scipy = "*"
numpy = "*"
geopandas = "*"
geojson = "*"
xlrd = "*"
statistics = "*"
sklearn = "*"
statsmodels = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.7"
